* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #292826; }
  body h1 {
    color: cornflowerblue;
    text-align: center;
    font-size: 3.5em;
    font-family: "trebuchet MS", sans-serif;
    /* Flexbox */
    display: flex;
    flex-direction: row; }

nav {
  background: linear-gradient(black, #353333);
  color: cornflowerblue;
  border-bottom: solid 2px #071980; }
  nav .nav-link {
    color: aliceblue; }
  nav .btn, nav .btn--search {
    color: aliceblue;
    border-color: aliceblue; }
  nav .btn--search {
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue; }

.formulario {
  display: flex;
  flex-direction: column;
  background-color: #292826;
  text-align: center;
  padding: 0.5rem;
  align-items: baseline;
  justify-content: center;
  color: aliceblue;
  font-family: "trebuchet MS", sans-serif;
  font-size: 15px; }

ul {
  list-style: none; }
  ul li {
    color: aliceblue; }
    ul li a {
      text-decoration: none; }

footer {
  list-style: none;
  color: aliceblue;
  font-family: "Haettenschweiler", sans-serif;
  font-size: 1.5em;
  padding-top: 20px;
  /* Flexbox */
  display: flex;
  flex-direction: column; }

.color-blue {
  background-color: #0a0afa; }

.color-violet {
  background-color: #8b1cf3; }

.color-pink {
  background-color: #f08fb4; }
