body{
    position: absolute;
    width: 100%;
    height: 100%;
    @include size(100%, 100%);
    background-color:$bg-color-body;
    h1{
        color:cornflowerblue;
    text-align: center;
    font-size:$font-size-xl;
    font-family: $font-family;
    /* Flexbox */
    display: $dF;
    flex-direction: row;
    }
    h3{
        color: cornflowerblue; 
        padding-bottom: $padding-3;
        /* Flexbox */
        display: $dF;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

}
.carousel-inner{
    height: 600px;
    background-size: contain;
}
.carousel-item img{
width: 100%;
height: 600px;
background-size: contain;
}

ul {
list-style: none; }
ul li {
  color: aliceblue; }
  ul li a {
    text-decoration: none; }

div section p {
color: aliceblue;
font-family: "Haettenschweiler", sans-serif;
font-size: 2em; }

.container-img{
width: 100%;
max-width: 1320px;
margin: auto;
margin-top: 60px;
margin-bottom: 60px;
padding-left: 100px;
display: grid;
grid-template-columns: repeat(3, 350px);
grid-template-rows:repeat(3, 350px );
grid-gap: 20px;
justify-content: space-around;
}
.container-img .box-img figure{
width: 100%;
height: 100%;
}
.container-img .box-img img{
width: 70%;
height: 100%;
border-radius: 15px;
object-fit: cover;
opacity: 0.7;  
  transition: all 1s;
}
.container-img .box-img img:hover{
transform: scale(1.1);
opacity: 1;
}
.container-card{
    background-color: $bg-color-body;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 100px;
    display: $dF;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 700px);
    justify-content: center;
    align-items: center;    
}
.container-trailers{
    background-color: $bg-color-body;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 70px ;
    display: $dF;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 400px);
    justify-content: space-around; 
}
ul{
    list-style: none;
    li{
        color: aliceblue;
        
         a{
            text-decoration: none;
          
        }
    }
}
div{
    section{
        p{
            color: aliceblue;
            font-family: $font-family2;
            font-size: $font-size-md; 
        }
    }
}
div{
    img{
        width: 100%;
        height: 300px;
    }
}