.formulario {
    height: 60px;
    display: $dF;
    background-color: #292826;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: "trebuchet MS", sans-serif;
    font-size: 20px; }