  /* Media Queries */
  @media screen and (max-width: 768px){
    .container-img{
      
     grid-template-columns: repeat(2, 250px);
     align-items: center;
     padding-left: 40px;

    }
    .container-card{
      
        grid-template-columns: repeat(2, 300px);
        align-items: center;
        padding-right: 80px;
       
       }
       .container-trailers{
      
        grid-template-columns: repeat(2, 350px);
        align-items: center;
        padding-left: 50px;
       }
  }
    @media screen and (max-width: 480px){
        .container-img{
          
            grid-template-columns: repeat(1, 200px);
            align-items: center;
            padding-left: 45px;
        }
        .container-card{
            grid-template-columns: repeat(1, 300px);
            align-items: center;
            padding-right: 70px;
        }
        .container-trailers{
          
            grid-template-columns: repeat(1, 300px);
            align-items: center;
            padding-right: 60px;
        }
    }